In [17]:
import pandas as pd

In [19]:
df = pd.read_csv('D01_eng_cols.csv', delimiter=';')

#### Razdvajamo vrednosti atributa Date po razmaku (space) da bi izdvojili vreme iz datuma.

In [22]:
import pandasai as pai
from pandasai import Agent
import os

pai.clear_cache()

os.environ["PANDASAI_API_KEY"] = os.environ.get('PANDASAI_API_KEY')

In [24]:
df.head(5)

,Unnamed: 0,Date,membership_card_number,age,region,product_classification,product_code,quantity,cost,sales
0,0,2001-01-01 00:00:00,141833,F,F,130207,4710105011011,2,44,52
1,1,2001-01-01 00:00:00,1376753,E,E,110217,4710265849066,1,150,129
2,2,2001-01-01 00:00:00,1603071,E,G,100201,4712019100607,1,35,39
3,3,2001-01-01 00:00:00,1738667,E,F,530105,4710168702901,1,94,119
4,4,2001-01-01 00:00:00,2141497,A,B,320407,4710431339148,1,100,159

In [30]:
agent = Agent(df)
agent.chat('Remove the time from the Date arrtibute. Leave only the date.')

,Unnamed: 0,Date,membership_card_number,age,region,product_classification,product_code,quantity,cost,sales
0,0,2001-01-01,141833,F,F,130207,4710105011011,2,44,52
1,1,2001-01-01,1376753,E,E,110217,4710265849066,1,150,129
2,2,2001-01-01,1603071,E,G,100201,4712019100607,1,35,39
3,3,2001-01-01,1738667,E,F,530105,4710168702901,1,94,119
4,4,2001-01-01,2141497,A,B,320407,4710431339148,1,100,159
...,...,...,...,...,...,...,...,...,...,...
216859,216859,2001-01-31,1024395,E,E,110508,9300644131759,1,32,39
216860,216860,2001-01-31,2146263,C,E,110507,4710980000056,1,58,58
216861,216861,2001-01-31,2146263,C,E,130208,4710088436207,1,15,19
216862,216862,2001-01-31,2124032,D,F,120107,4716759020133,1,110,140
216863,216863,2001-01-31,1814002,J,G,100311,4710022101208,1,197,198

### Tipovi podataka ###

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216864 entries, 0 to 216863
Data columns (total 9 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Date                    216864 non-null  object
 1   membership_card_number  216864 non-null  int64
 2   age                     216864 non-null  object
 3   region                  216864 non-null  object
 4   product_classification  216864 non-null  int64
 5   product_code            216864 non-null  int64
 6   quantity                216864 non-null  int64
 7   cost                    216864 non-null  int64
 8   sales                   216864 non-null  int64
dtypes: int64(6), object(3)
memory usage: 14.9+ MB

#### Bilo bi dobro da tipove podataka odredimo tako da nam budu od koristi u kasnijoj analizi. Na primer Date bi trebalo da konvertujemo u DateTime, mebership_card_number je verovatno string jer je to u suštini id mušterije, age i region su stringovi itd.

In [36]:
agent.chat('Convert the Date arrtibute to datetime type.')

Traceback (most recent call last):
  File "C:\Users\kocha\anaconda3\Lib\site-packages\pandasai\pipelines\chat\generate_chat_pipeline.py", line 335, in run
    ).run(input)
      ^^^^^^^^^^
  File "C:\Users\kocha\anaconda3\Lib\site-packages\pandasai\pipelines\pipeline.py", line 137, in run
    raise e
  File "C:\Users\kocha\anaconda3\Lib\site-packages\pandasai\pipelines\pipeline.py", line 101, in run
    step_output = logic.execute(
                  ^^^^^^^^^^^^^^
  File "C:\Users\kocha\anaconda3\Lib\site-packages\pandasai\pipelines\chat\code_execution.py", line 113, in execute
    raise e
  File "C:\Users\kocha\anaconda3\Lib\site-packages\pandasai\pipelines\chat\code_execution.py", line 97, in execute
    raise InvalidOutputValueMismatch(
pandasai.exceptions.InvalidOutputValueMismatch: Value type <class 'list'> must match with type list

"Unfortunately, I was not able to answer your question, because of the following error:\n\nValue type <class 'list'> must match with type list\n"

In [46]:
df['Date'] = pd.to_datetime(df['Date'])
df.head()

,Date,membership_card_number,age,region,product_classification,product_code,quantity,cost,sales
0,2001-01-01,141833,F,F,130207,4710105011011,2,44,52
1,2001-01-01,1376753,E,E,110217,4710265849066,1,150,129
2,2001-01-01,1603071,E,G,100201,4712019100607,1,35,39
3,2001-01-01,1738667,E,F,530105,4710168702901,1,94,119
4,2001-01-01,2141497,A,B,320407,4710431339148,1,100,159

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216864 entries, 0 to 216863
Data columns (total 9 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Date                    216864 non-null  datetime64[ns]
 1   membership_card_number  216864 non-null  int64
 2   age                     216864 non-null  object
 3   region                  216864 non-null  object
 4   product_classification  216864 non-null  int64
 5   product_code            216864 non-null  int64
 6   quantity                216864 non-null  int64
 7   cost                    216864 non-null  int64
 8   sales                   216864 non-null  int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 14.9+ MB

In [50]:
df['Date'].dt.day

0          1
1          1
2          1
3          1
4          1
          ..
216859    31
216860    31
216861    31
216862    31
216863    31
Name: Date, Length: 216864, dtype: int32

In [52]:
df['membership_card_number'] = df['membership_card_number'].astype(str)

In [54]:
df.info()
#stringovi se prikazuju kao tip object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216864 entries, 0 to 216863
Data columns (total 9 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Date                    216864 non-null  datetime64[ns]
 1   membership_card_number  216864 non-null  object
 2   age                     216864 non-null  object
 3   region                  216864 non-null  object
 4   product_classification  216864 non-null  int64
 5   product_code            216864 non-null  int64
 6   quantity                216864 non-null  int64
 7   cost                    216864 non-null  int64
 8   sales                   216864 non-null  int64
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 14.9+ MB

In [56]:
df['product_classification'] = df['product_classification'].astype(str)
df['product_code'] = df['product_code'].astype(str)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216864 entries, 0 to 216863
Data columns (total 9 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Date                    216864 non-null  datetime64[ns]
 1   membership_card_number  216864 non-null  object
 2   age                     216864 non-null  object
 3   region                  216864 non-null  object
 4   product_classification  216864 non-null  object
 5   product_code            216864 non-null  object
 6   quantity                216864 non-null  int64
 7   cost                    216864 non-null  int64
 8   sales                   216864 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 14.9+ MB