In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('D01', delimiter=';')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa4 in position 0: invalid start byte

#### Instaliramo chardet da bi saznali encoding csv fajla.
#### pip install chardet ###

#### Koristimo chardet: python chardetect-script.py D01
#### Rezultat: D01: Big5 with confidence 0.99

In [20]:
df = pd.read_csv('D01', delimiter=';', encoding = "Big5")

In [22]:
df.head()

                    日期     會員卡號  年齡  區域    商品分類           商品編碼  數量   成本   銷售
0  2001-01-01 00:00:00   141833  F   F   130207  4710105011011   2   44   52
1  2001-01-01 00:00:00  1376753  E   E   110217  4710265849066   1  150  129
2  2001-01-01 00:00:00  1603071  E   G   100201  4712019100607   1   35   39
3  2001-01-01 00:00:00  1738667  E   F   530105  4710168702901   1   94  119
4  2001-01-01 00:00:00  2141497  A   B   320407  4710431339148   1  100  159

#### Pomoću Google translate prevodimo nazive kolona. Možemo ih preimenovati u kodu, a možemo i da izmenimo csv fajl.

In [25]:
df.rename(columns={'日期':'Date'}, inplace = True)
df.head()

                  Date     會員卡號  年齡  區域    商品分類           商品編碼  數量   成本   銷售
0  2001-01-01 00:00:00   141833  F   F   130207  4710105011011   2   44   52
1  2001-01-01 00:00:00  1376753  E   E   110217  4710265849066   1  150  129
2  2001-01-01 00:00:00  1603071  E   G   100201  4712019100607   1   35   39
3  2001-01-01 00:00:00  1738667  E   F   530105  4710168702901   1   94  119
4  2001-01-01 00:00:00  2141497  A   B   320407  4710431339148   1  100  159

In [27]:
df.rename(columns={'日期':'Date','會員卡號':'membership_card_number',
                   '年齡':'age','區域':'region','商品分類':'product_classification',
                   '商品編碼':'product_code','數量':'quantity',
                   '成本':'cost','銷售':'sales'}, inplace = True)

#### Preimenovali smo kolone u kodu, flag inplace znači da direktno menjamo DataFrame, inače bi nam samo bila prikazana promena, a DataFrame bi ostao nepromenjen.

In [30]:
df.head()

,Date,membership_card_number,age,region,product_classification,product_code,quantity,cost,sales
0,2001-01-01 00:00:00,141833,F,F,130207,4710105011011,2,44,52
1,2001-01-01 00:00:00,1376753,E,E,110217,4710265849066,1,150,129
2,2001-01-01 00:00:00,1603071,E,G,100201,4712019100607,1,35,39
3,2001-01-01 00:00:00,1738667,E,F,530105,4710168702901,1,94,119
4,2001-01-01 00:00:00,2141497,A,B,320407,4710431339148,1,100,159

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216864 entries, 0 to 216863
Data columns (total 9 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Date                    216864 non-null  object
 1   membership_card_number  216864 non-null  int64
 2   age                     216864 non-null  object
 3   region                  216864 non-null  object
 4   product_classification  216864 non-null  int64
 5   product_code            216864 non-null  int64
 6   quantity                216864 non-null  int64
 7   cost                    216864 non-null  int64
 8   sales                   216864 non-null  int64
dtypes: int64(6), object(3)
memory usage: 14.9+ MB

In [39]:
df.to_csv('D01_eng_cols.csv', sep=';')

#### Razdvajamo vrednosti atributa Date po razmaku (space) da bi izdvojili vreme iz datuma.

In [42]:
df['Date'].apply(lambda x: x.split(' ')[1])

0         00:00:00
1         00:00:00
2         00:00:00
3         00:00:00
4         00:00:00
            ...
216859    00:00:00
216860    00:00:00
216861    00:00:00
216862    00:00:00
216863    00:00:00
Name: Date, Length: 216864, dtype: object

In [44]:
type(df['Date'].apply(lambda x: x.split(' ')[1]))

pandas.core.series.Series

#### Vidimo da je vreme beskorisno i zato ga uklanjamo i ostavljamo samo datum.

In [47]:
df['Date'] = df['Date'].apply(lambda x: x.split(' ')[0])
df.head()

,Date,membership_card_number,age,region,product_classification,product_code,quantity,cost,sales
0,2001-01-01,141833,F,F,130207,4710105011011,2,44,52
1,2001-01-01,1376753,E,E,110217,4710265849066,1,150,129
2,2001-01-01,1603071,E,G,100201,4712019100607,1,35,39
3,2001-01-01,1738667,E,F,530105,4710168702901,1,94,119
4,2001-01-01,2141497,A,B,320407,4710431339148,1,100,159

### Tipovi podataka ###

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216864 entries, 0 to 216863
Data columns (total 9 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Date                    216864 non-null  object
 1   membership_card_number  216864 non-null  int64
 2   age                     216864 non-null  object
 3   region                  216864 non-null  object
 4   product_classification  216864 non-null  int64
 5   product_code            216864 non-null  int64
 6   quantity                216864 non-null  int64
 7   cost                    216864 non-null  int64
 8   sales                   216864 non-null  int64
dtypes: int64(6), object(3)
memory usage: 14.9+ MB

#### Bilo bi dobro da tipove podataka odredimo tako da nam budu od koristi u kasnijoj analizi. Na primer Date bi trebalo da konvertujemo u DateTime, mebership_card_number je verovatno string jer je to u suštini id mušterije, age i region su stringovi itd.

In [53]:
df['Date'] = pd.to_datetime(df['Date'])
df.head()

,Date,membership_card_number,age,region,product_classification,product_code,quantity,cost,sales
0,2001-01-01,141833,F,F,130207,4710105011011,2,44,52
1,2001-01-01,1376753,E,E,110217,4710265849066,1,150,129
2,2001-01-01,1603071,E,G,100201,4712019100607,1,35,39
3,2001-01-01,1738667,E,F,530105,4710168702901,1,94,119
4,2001-01-01,2141497,A,B,320407,4710431339148,1,100,159

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216864 entries, 0 to 216863
Data columns (total 9 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Date                    216864 non-null  datetime64[ns]
 1   membership_card_number  216864 non-null  int64
 2   age                     216864 non-null  object
 3   region                  216864 non-null  object
 4   product_classification  216864 non-null  int64
 5   product_code            216864 non-null  int64
 6   quantity                216864 non-null  int64
 7   cost                    216864 non-null  int64
 8   sales                   216864 non-null  int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 14.9+ MB

In [57]:
df['Date'].dt.day

0          1
1          1
2          1
3          1
4          1
          ..
216859    31
216860    31
216861    31
216862    31
216863    31
Name: Date, Length: 216864, dtype: int64

In [59]:
df['membership_card_number'] = df['membership_card_number'].astype(str)

In [61]:
df.info()
#stringovi se prikazuju kao tip object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216864 entries, 0 to 216863
Data columns (total 9 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Date                    216864 non-null  datetime64[ns]
 1   membership_card_number  216864 non-null  object
 2   age                     216864 non-null  object
 3   region                  216864 non-null  object
 4   product_classification  216864 non-null  int64
 5   product_code            216864 non-null  int64
 6   quantity                216864 non-null  int64
 7   cost                    216864 non-null  int64
 8   sales                   216864 non-null  int64
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 14.9+ MB

In [63]:
df['product_classification'] = df['product_classification'].astype(str)
df['product_code'] = df['product_code'].astype(str)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216864 entries, 0 to 216863
Data columns (total 9 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Date                    216864 non-null  datetime64[ns]
 1   membership_card_number  216864 non-null  object
 2   age                     216864 non-null  object
 3   region                  216864 non-null  object
 4   product_classification  216864 non-null  object
 5   product_code            216864 non-null  object
 6   quantity                216864 non-null  int64
 7   cost                    216864 non-null  int64
 8   sales                   216864 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 14.9+ MB